<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="db_connection" connectionString= "server=127.0.0.1;port=3306;uid=delphinium_admin;pwd=dark.d@tura;database=sathi_lottery;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>